.bannerTitle {
    text-transform: uppercase;
    width: 560px;
    margin-bottom: 120px;
}

.quote {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: none;
}

.bannerAuthor {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    width: 283px;
}