body {
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
    color: 000;
    font-size: 16;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 91px;
    border-bottom: 2px solid #dddddd;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header a {
    color: #000;
    font-family: "Lato";
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu {
    display: flex;
    padding-left: 20px;
}

.menu li {
    margin-right: 33px;
}

.nav {
    display: flex;
    margin-top: 22px;
    margin-bottom: 23px;
    align-items: center;
}

.logo {
    margin-right: 312px;
}

.home {
    display: block;
    height: 20px;
    width: 60px;
    background-color: rgb(255, 187,66);
    text-align: center;
    margin-top: 7px;
    padding: 5px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.banner {
    background: url('../img/banner-background.png') no-repeat center top;
    padding-top: 111px;
    font-family: open sans, regular;
}

.banner-text {    
    color: #ffffff;
    text-align: center;
    word-spacing: 5px;
    height: 53px;
    width: 721px;
    margin-left: 227px;
}

.bannerTextTitle {
    font-size: 35px;
}

.bannerTextUnderTitle {    
    font-family: open sans, light;
    text-transform: none;
}

.requestQuote {    
    display: flex;
    margin-top: 32px;
    margin-left: 40px;
}

.labelForData {    
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 250px;
    height: 15px;
    padding: 16px;
    margin-right: 9px;
}

.form-control {
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 13px;    
    font-family: open sans, regular;
}

.btn-request-quote {
    background-color: #ffbb42;
    width: 212px;
    height: 47px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: open sans, regular;    
    border: 0px;
}

.btn-request-quote:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.banner-laptop {
    background: url('../img/banner-laptop.png') no-repeat center top;
    margin-top: 67px;
}

.page-on-laptop {
    height: 265px;
    width: 446px;
    padding-top: 17px;
    padding-left: 101px;
    padding-right: 100px;
    padding-bottom: 61px;
    margin-left:262px;
}

.service {
    font-family: open sans, regular;
}

.service-head {
    margin-top: 103px;
    font-size: 28px;
    letter-spacing: -1px;
    text-align: center;
}

.service-undertitle {   
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    color: #394b50;  
    font-family: open sans, regular;
}

.type-of-services {
    margin-top: 93px;
}

.pair-services {    
    display: flex;
    vertical-align: top;
}

.service {
    padding: 0%;
    display: flex;
    margin-right: 108px;
    margin-bottom: 80px;
}


.services-icon {
    height: 44px;
    width: 43px;
    margin-right: 39px;
}

.services-title {
    font-size: 16px;
    line-height: 22px;
    color: #394b50;
    font-weight: 700;
    font-family: "Lato";
}

.services-text {
    margin-top: 21px;
    width: 427px;
    height: 70px;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: none;
}

.service-3-icon {    
    height: 40px;
    width: 58px;
    margin-right: 23px;
}

.service-4-icon {    
    height: 47px;
    width: 46px;
    margin-right: 35px;
}

.service-5-icon {    
    height: 43px;
    width: 43px;
    margin-right: 39px;
}

.service-6-icon {    
    height: 51px;
    width: 27px;
    margin-right: 39px;
}

.service-3 {
    padding: 0%;
    display: flex;
    margin-right: 94px;
    margin-bottom: 80px;
}

.service-3-text {
    margin-top: 21px;
    width: 442px;
    height: 70px;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: none;
}

.service-5 {
    padding: 0%;
    display: flex;
    margin-right: 135px;
    margin-bottom: 80px;
}

.service-5-text {
    margin-top: 21px;
    width: 416px;
    height: 70px;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: none;
}

.service-right-text {
    margin-top: 21px;
    width: 477px;
    height: 70px;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: none;
}

.about-us {
    background: url('../img/about-us-background.png') no-repeat center top;
    display: flex;
}

.about-us-img {
    width: 50%;
    height: 622px;
    margin-right: 80px;
}

.about-us-textblock {
    color: #fff;
    line-height: 24px;    
    font-family: "Open Sans";
    text-decoration: none;
    margin-top: 165px;
}

.about-us-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 22px;
    font-weight: 800;
}

.about-us-text {
    width: 505px;
    height: 218px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;    
    margin-top: 28px;
    text-transform: none;
}

.about-us a {    
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-transform: uppercase;
    text-decoration: none;    
    height: 46px;
    width: 145px;
    text-align: center;
    margin-top: 7px;
    padding-left: 33px;
    padding-top: 17px;
    padding-right: 32px;
    padding-bottom: 18px;
    color: #fff;
    border: 1px solid #e7ad47;
    border-radius: 1px;
}

.choose-your-pricing-head {  
    font-size: 24px;
    letter-spacing: -1px;
    color: #394b50;
    font-weight: 800;
    font-family: open-sans, regular; 
    text-align: center;
}

.choose-your-pricing-undertitle {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: none; 
    color: #75888d;   
}

.choose-your-pricing {
    background-color: #e7edf3;
    padding-top: 137px;
}

.plan-of-subscribe {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.basic-plan {
    display: block;
    border: 1px solid #cbd5df;
    width: 392px;
    height: 442px;
    border-radius: 3px;
    text-align: center;
    font-family: Lato, Light;
}

.premium-plan {
    display: block;
    width: 396px;
    height: 502px;
    background-color: #709dca;
    border-radius: 3px;
    text-align: center;
    font-family: Lato, Light;
}

.gold-plan{
    display: block;
    border: 1px solid #cbd5df;
    width: 392px;
    height: 442px;
    border-radius: 3px;
    text-align: center;
    font-family: Lato, Light;
}

.plan-of-subcribe-name {
    margin-top: 58px;
    font-size: 30px;
    color: #818b95;
}

.cost-plan-of-subcribe {
    margin-top: 30px;
    font-family: Lato, Bolt;
    font-size: 35px;
    color: #ffbb42;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 155px;
}

.dollar-sign {
    font-size: 30px;
}

.per-month {
    font-size: 20px;
    color: #818b95;
    margin-bottom: 15px;
}

.plan-of-subscribe-text {
    font-size: 14px;
    margin-top: 14px;
}

.hr-line {
	margin-left: 10%;
    margin-right: 10%;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgb(216, 216, 216);
}

.plan-of-subscribe-info {
    margin-bottom: 33px;
}

.get-started-button {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #ffbb42;
    padding-left: 22px;
    padding-top: 12px;
    padding-right: 22px;
    padding-bottom: 12px;
}

.plan-of-subcribe-name-premium {
    margin-top: 88px;
    font-size: 30px;
    color: #ffffff;
}

.cost-plan-of-subcribe-premium {
    margin-top: 30px;
    font-family: Lato, Bolt;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 155px;
}

.per-month-premium {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
}

.plan-of-subscribe-info-premium {    
    margin-bottom: 33px;
    color: #fff;
}